<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Art Gallery</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/artists">Artists</a>
        <a href="/exhibits">Exhibits</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
