<p>First Name: <%= @artist.first_name %></p>
<p>Last Name: <%= @artist.last_name %></p>

<p><a href="/manager/artist/<%= @artist.id %>/edit">Edit Artist</a></p>

<form method="post" action="/manager/artist/<%= @artist.id %>/delete">

  <input type="submit" value="Delete Artist"/>

</form>
