<div id="artist-detail"
<div class="artist-detail"
<p>First Name: <%= @artist.first_name %></p>
<p>Last Name: <%= @artist.last_name %></p>

<% for exhibit in @exhibits %>
  <p><%= "Title:" %> <%= exhibit.title %></p>
<% end %>
</div>
</div>
