<h1>Welcome to The Gallery</h1>

<div id="homepage-image">
    <img src="https://www.tate.org.uk/sites/default/files/styles/width-600/public/_d818599_ret_in_the_studio_resized_1.jpg"
    width="1200" height="800" alt="Art Gallery Interior">
</div>
