<h1>Manager Tools</h1>

<ul>
  <li>
    <a href="/manager/artists">Manage Artists</a>
  </li>
  <li>
    <a href="/manager/artist/new">Add New Artist</a>
  </li>
  <li>
    <a href="/manager/exhibits">Manage Exhibits</a>
  </li>
  <li>
    <a href="/manager/exhibit/new">Add New Exhibit</a>
  </li>
</ul>
