<% @artists.each do |artist| %>

  <p>First Name: <%= artist.first_name() %></p>
  <p>Last Name: <%= artist.last_name() %></p>

  <p><a href="/manager/artists/<%= artist.id %>">Show Artist</a></p>

<% end %>
