<form action="/manager/exhibit/new" method="post">

  <label for="title">Title:</label>
  <input type="text" name="title" id="title">

  <label for="year">Year:</label>
  <input type="number" name="year" id="year">

  <label for="description">Description:</label>
  <input type="text" name="description" id="description">

  <label for="category">Category:</label>
    <select name="category" id="category">
      <option value="Painting">Painting</option>
      <option value="Drawing">Drawing</option>
      <option value="Sculpture">Sculpture</option>
      <option value="Photography">Photography</option>
    </select>

  <label for="artist_id">Artist:</label>
  <select name="artist_id" id="artist_id">

  <% for artist in @artists %>
    <option value="<%=artist.id%>"> <%=artist.first_name%> <%=artist.last_name%> </option>
  <% end %>

  </select>

  <input type="submit" value="Add Exhibit">

</form>
