<form action="/manager/artist/new" method="post">

  <label for="first-name">First Name:</label>
  <input type="text" name="first_name" id="first-name">

  <label for="last-name">Last Name:</label>
  <input type="text" name="last_name" id="last-name">

  <input type="submit" value="Add Artist">

</form>
